@import '../../styles/partials/variables';

.side-bar {
  min-height: 100vh;
  border-right: none;
  &.open {
    width: $drawerWidth;
  }
  .drawer {
    position: fixed;

    .error-container {
      display: flex;
      width: 100%;
      cursor: default;
      color: $mdc-theme-secondary;
    }

    .drawer-content {
      overflow-y: auto;
    }
  }
}
