@import '../../styles/partials/variables';

.messageList {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .list {
    flex: 1;
    padding: 0;
    height: 100%;

    .item {
      display: flex;
      flex-flow: row nowrap;
      font-weight: $font-weight-bold;
      font-size: $font-size-body-2;
      padding: 0px;
      height: 32px;
      border: 1px solid lighten($mdc-theme-background, 10%);

      &.seen {
        font-weight: $font-weight-normal;
      }

      .from {
        margin-left: $default-spacing / 2;
        width: 200px;
        min-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .subject {
        flex-grow: 1;
        margin-left: $default-spacing;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .receivedDate {
        width: 90px;
        min-width: 90px;
        text-align: right;
      }
      .size {
        margin-right: $default-spacing / 2;
        width: 85px;
        min-width: 85px;
        text-align: right;
      }

    }
  }

  .listSpinner {

    .listSpinnerCanvas {
      width: 16px;
    }
  }
}
