@import '../../styles/partials/variables';

$row-height: 32px;
$font-size: $font-size-body-2;
$flag-size: 18px;

.messageList {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .clearFolderListItem {
    display: flex;

    .emptyFolder {
      margin: 0 auto;
      font-size: $font-size-body-2;
    }
  }

  .list {
    flex: 1;
    padding: 0;
    height: 100%;

    .virtualList {
      outline: none;

      .item {
        display: flex;
        font-weight: $font-weight-bold;
        font-size: $font-size;
        padding: 0px;
        height: $row-height;
        border: 1px solid lighten($mdc-theme-background, 10%);
        cursor: pointer;

        &.seen {
          font-weight: $font-weight-normal;
        }

        &.deleted {
          color: lighten($base-color, 45%);
          font-style: italic;
        }

        .itemDetails {
          flex-grow: 1;
          min-width: 0;
          width: 1px;

          display: flex;
          flex-flow: row nowrap;

          .from {
            width: 200px;
            min-width: 200px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .flag {
            display: block;
            width: 20px;
            min-width: 20px;
            overflow: hidden;
            visibility: hidden;
            font-size: $flag-size;
            line-height: 20px;

            &.flagged {
              visibility: visible;
              color: $mdc-theme-secondary;
            }
          }
          .subject {
            flex-grow: 1;
            margin-left: $default-spacing / 4;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
          }
          .receivedDate {
            width: 90px;
            min-width: 90px;
            text-align: right;
          }
          .size {
            margin-right: $default-spacing / 2;
            width: 85px;
            min-width: 85px;
            text-align: right;
          }
        }

        .itemDetails:hover {
          .flag {
            visibility: visible;
          }
        }

      }
    }
  }

  .listSpinner {
    position: absolute;
    bottom: 0px;
    z-index: 2;
    height: 25px;
    width: 100%;
    overflow: hidden;
    pointer-events: none;

    .listSpinnerCanvas {
      width: 16px;
    }
  }
}
