@import 'variables';

body {
  background-color: $base-background-color;
  color: $base-color;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
  font-family: $base-font-family;
  margin: 0;
  padding: 0;
}
