$base-background-color: #e9e9e9;
$base-color: #333333;
$base-font-size: 14px;
$base-font-weight: 400;
$base-font-family: 'Roboto';

// Material Design Theme colors
$mdc-theme-primary: #324148;
$mdc-theme-on-primary: #ffffff;
$mdc-theme-background: #dddddd;


// Drawer variables
$drawerWidth: 240px;


