@import '../../styles/partials/variables';

$editor-background-color: white;
$code-block-background: darken($editor-background-color, 8%);
$block-padding: $default-spacing / 2;

.message-editor {
  padding: $default-spacing;
  background-color: $editor-background-color;

  .editor-wrapper {
    border: 1px solid $mdc-theme-primary;
    padding: $default-spacing / 2;
    margin-bottom: $default-spacing;

    .h1 {
      margin: $default-spacing * 2 0;
      font-size: $base-h3-size * 1.25;
    }

    .h2 {
      margin: $default-spacing 0;
      font-weight: bold;
      font-size: $base-h3-size*1.1;
    }

    .h3 {
      margin: $default-spacing 0;
      font-size: $base-h3-size;
    }

    .blockquote {
      border-left: 5px solid $code-block-background;
      font-style: italic;
      margin: 0;
      padding: 0 $default-spacing * 2;
    }

    .code-block {
      background-color: $code-block-background;
      margin: 0;
      padding: 0 $block-padding;

      &:first-child {
        padding-top: $block-padding;
      }

      &:last-child {
        padding-bottom: $block-padding;
      }
    }

    .button-container {
      margin-top: $default-spacing;

      .button {
        min-width: auto;

        &.active {
          background-color: lighten($mdc-theme-primary, 60%);
        }

        i {
          margin: 0;
        }
      }
    }
  }
}
