@import '../../styles/partials/variables';
@import '@material/chips/variables';
@import '@material/chips/mixins';

$header-field-spacing: $default-spacing / 2 !default;
$header-label-color: lighten($base-color, 25%) !default;
$header-chip-fill-color: white !default;
$header-chip-outline-color: transparentize($mdc-theme-primary, 0.75) !default;
$header-chip-margin: 2px 6px 2px 0;
$header-chip-height: 21px;
$editor-container-padding: 8px !default;
$editor-background-color: white !default;
$editor-border-color: lighten($mdc-theme-primary, 50%) !default;

.message-editor {
  display: flex;
  flex-direction: column;
  padding: $default-spacing;
  background-color: $editor-background-color;

  .header {

    input,
    input:focus {
      border: 0;
      outline: 0;
      color: $base-color;
      font-family: $base-font-family;
      font-size: $base-font-size;

      &::placeholder {
        color: $header-label-color;
      }
    }

    .address {
      display: flex;
      flex-wrap: wrap;
      padding: $header-field-spacing 0;
      border-bottom: 1px solid $editor-border-color;

      .chip {
        @include mdc-chip-fill-color($header-chip-fill-color);
        @include mdc-chip-outline(1px, solid, $header-chip-outline-color);
        @include mdc-chip-height($header-chip-height);
        margin: $header-chip-margin;

        i {
          font-size: 15px;
          height: 15px;
          width: 15px;

          &:hover {
            color: darken($mdc-chip-ink-color-default, 30%);
          }
        }
      }

      label {
        margin-right: $header-field-spacing;
        color: $header-label-color;
        line-height: $header-chip-height;
      }

      input {
        min-width: 60px;
        flex: 1;
      }
    }

    .subject {
      input {
        padding: $header-field-spacing 0;
        width: 100%;
      }
    }
  }

  .editor-wrapper {
    flex: 1;
    height: 1px;
    min-height: 1px;

    display: flex;
    flex-direction: column;
    border: 1px solid $editor-border-color;

    .editor-container {
      flex: 1;
      overflow: auto;
      height: 1px;
      min-height: 1px;
      padding: $editor-container-padding;
      margin-bottom: $editor-container-padding;
    }

    .button-container {
      margin: auto $editor-container-padding $editor-container-padding $editor-container-padding;
      display: flex;
      flex-direction: row;

      .button {
        min-width: auto;

        &.active {
          background-color: lighten($mdc-theme-primary, 60%);
        }

        i {
          margin: 0;
        }
      }
    }
  }

  .action-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .action-button {

      &.send {
        margin-left: 0;
      }

      &.cancel {
        margin-left: auto;
      }
    }
  }
}
