@import '../../styles/partials/variables';
@import '@material/drawer/slidable/variables';

.topBar {
  transition: $mdc-slidable-drawer-transition-close;
  &.with-side-bar {
    margin-left: $drawerWidth;
    width: calc(100% - #{$drawerWidth});
    transition: $mdc-slidable-drawer-transition-open;
  }
}
