@import '../../styles/partials/variables';
@import '@material/top-app-bar/mixins';

.topBar {
  margin-left: 0px;
  width: 100%;
  transition: margin $drawerAnimationSpeed, width $drawerAnimationSpeed;

  &.with-custom-styles{
    @include mdc-top-app-bar-fill-color($mdc-theme-secondary);
  }

  &.with-side-bar {
    margin-left: $drawerWidth;
    width: calc(100% - #{$drawerWidth});
  }
}
