@import '../../styles/partials/variables';

$default-container-width: 550px;

.singleInputDialog {

  .spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }

  @media screen and (min-width: $material-responsive-breakpoint-tablet-min) {
    .container {
      max-width: $default-container-width;
    }
    .content {
      width: $default-container-width;
    }
  }
}
