@import '../styles/partials/variables';
@import '@material/drawer/slidable/variables';

.app {
  display: flex;

  .content-wrapper {
    flex-grow: 1;
    transition: $mdc-slidable-drawer-transition-close;
    display: flex;

    &.with-side-bar {
      width: calc(100% - #{$drawerWidth});
      transition: $mdc-slidable-drawer-transition-open;
    }

    .message-grid{
      margin: $default-spacing;
      background-color: #ffffff;
      flex-grow: 1;
    }

    .message-viewer {
      background-color: #ffffff;
      flex-grow: 1;
    }

    .fab-container {
      position: fixed;
      right: $default-spacing;
      bottom: $default-spacing;
      width: 120px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }
}
