@import '../../styles/partials/variables';

.listItem {
  cursor: pointer;
  user-select: none;
  display: flex;

  .graphic {
    margin-right: $default-spacing;
  }

  .primaryText {
    margin: 0px;
    width: 1px;
    min-width: 1px;
    flex: 1;

    &.hasNewMessages {
      font-weight: $font-weight-bold;
    }
  }

  .actions {
    display: none;
    margin-right: -6px;

    .contextMenu {
      display:none;
      transform: translateX(100%);

      &.visible {
        display: block;
        transform: translateX(0%);
        animation: slide-in 0.5s forwards;
      }
      @keyframes slide-in {
        0% { transform: translateX(100%); }
        100% { transform: translateX(0%); }
      }
    }

  }

  &:hover {
    .actions {
      display: block;
    }
  }
}
