@import '../../styles/partials/variables';

.itemContainer {
  padding-left: 15px;

  .item {
    margin-left: -100%;
    padding-left: 100%;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 36px;
    border-radius: 0;

    &:nth-child(1) {
      margin-top: 0px;
    }

    i {
      line-height: 32px;
    }
  }
}
.childList {
  padding: 0;
}
