@import '../../styles/partials/variables';

.listItem {
  height: 36px;

  .graphic {
    margin-right: $default-spacing;
  }

  .primaryText {
    margin: 0px;

    &.hasNewMessages {
      font-weight: $font-weight-bold;
    }
  }
}
