@import '../../styles/partials/variables';

$port-field-width: 100px;
.login {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }
  .card {
    padding: $default-spacing;
    width: 60%;

    .title {
      font-size: $font-size-body * 1.8;
      text-align: center;
    }

    .subtitle {
      margin-top: $default-spacing / 2;
      font-size: $font-size-body * 1.5;
      color: lighten($base-color, 25%);
      text-align: center;
    }

    .fullWidth {
      width: 100%;
    }

    .server {
      width: 100%;
      display: flex;

      .serverHost {
        margin-right: $default-spacing;
        flex-grow: 1;
      }

      .serverPort {
        width: $port-field-width;
      }
    }

    .loginButton {
      margin-top: $default-spacing;
    }
  }
}
