@import '../../styles/partials/variables';

$card-width-break: 480px;
$port-field-width: 180px;


.login {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
  }
  .card {
    padding: $default-spacing;
    width: 60%;
    min-width: $card-width-break;
    @media screen and (max-width: $card-width-break) {
      width: 100%;
      height: 100%;
      min-width: auto;
    }

    .title {
      font-size: $font-size-body * 1.8;
      text-align: center;
    }

    .subtitle {
      margin-top: $default-spacing / 2;
      font-size: $font-size-body * 1.5;
      color: lighten($base-color, 25%);
      text-align: center;
    }

    .section {
      margin: $default-spacing 0;
      font-size: $font-size-body * 1.2;
      color: lighten($base-color, 25%);
    }

    .advancedButton {
      padding: 0 4px 0 0;
    }

    .advancedContainer {
      margin-top: $default-spacing;
    }

    .fullWidth {
      width: 100%;
    }

    .formField {
      margin-bottom: $default-spacing;
    }

    .server {
      width: 100%;
      display: flex;

      .serverHost {
        margin-right: $default-spacing;
        flex-grow: 1;
      }

      .serverPort {
        width: $port-field-width;
      }
    }

    .loginButton {
      margin-top: $default-spacing;
    }
  }
}
