@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/fonts';
@import 'partials/base';
@import 'partials/prefetch';
@import 'partials/mdc-checkbox-extended';
@import 'partials/mdc-list-extended';
@import 'partials/mdc-snackbar-extended';
@import 'partials/mdc-switch-extended';
@import 'partials/mdc-textfield-extended';
@import 'partials/tinymce';
@import 'partials/tooltip';


// Third-party
@import '@material/button/mdc-button';
@import '@material/card/mdc-card';
@import '@material/checkbox/mdc-checkbox';
@import '@material/chips/mdc-chips';
@import '@material/dialog/mdc-dialog';
@import '@material/drawer/mdc-drawer';
@import '@material/fab/mdc-fab';
@import '@material/icon-button/mdc-icon-button';
@import '@material/line-ripple/mdc-line-ripple';
@import '@material/menu/mdc-menu';
@import '@material/menu-surface/mdc-menu-surface';
@import '@material/top-app-bar/mdc-top-app-bar';

// Components
@import 'components/buttons';
@import 'components/spinner';

// Pages
@import 'pages/error-page';
@import 'pages/main-layout';
@import 'pages/message-editor';
@import 'pages/message-viewer';
